.new-collections {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 40px 20px;
    margin-bottom: 100px;
}

.new-collections h1 {
    color: #171717;
    font-size: 42px;
    font-weight: 600;
    text-align: center;
}

.new-collections hr {
    width: 180px;
    height: 6px;
    border-radius: 10px;
    background-color: #252525;
}

/* Grid instead of flex */
.collections{
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    justify-items: center;
}

/* Tablet */
@media (max-width: 768px) {
    .new-collections h1 {
        font-size: 32px;
    }
}

/* Mobile */
@media (max-width: 480px) {
    .new-collections h1 {
        font-size: 26px;
    }
}
