.relatedproducts {
  width: 100%;
  padding: 60px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

/* Heading */
.relatedproducts h1 {
  color: #171717;
  font-size: 42px;
  font-weight: 600;
  text-align: center;
}

.relatedproducts hr {
  width: 180px;
  height: 5px;
  border-radius: 10px;
  background: #252525;
  border: none;
}

/* Products Grid */
.relatedproduct-item {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  width: 100%;
}
