/* Base */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
    position: relative;
}

/* Logo */
.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo p {
    color: #171717;
    font-size: 28px;
    font-weight: 600;
}

/* Menu */
.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    font-size: 20px;
    font-weight: 500;
}

/* Remove underline from Links */
.nav-menu a {
    text-decoration: none;
    color: #626262;
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #ff4141;
}

/* Login & Cart */
.nav-login-cart {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-login-cart button {
    width: 100px;
    height: 48px;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    font-size: 20px;
    background: white;
    cursor: pointer;
}

.nav-login-cart button:active {
    background: #f3f3f3;
}

/* Cart */
.cart-wrapper {
    position: relative;
}

.cart-wrapper img {
    width: 30px;
}

.nav-cart-count {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -10px;
    right: -12px;
    border-radius: 50%;
    font-size: 14px;
    background-color: red;
    color: white;
}

/* Hamburger */
.hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

/* ===================== */
/* RESPONSIVE */
/* ===================== */

/* Tablet */
@media (max-width: 900px) {
    .nav-menu {
        gap: 30px;
        font-size: 18px;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .nav-logo{
        max-width: 100px;
    }
    .nav-logo p {
    font-size: 18px;
}
    .nav-menu {
        position: absolute;
        top: 75px;
        left: 0;
        width: 100%;
        flex-direction: column;
        background: white;
        padding: 20px 0;
        display: none;
    }

    .nav-menu.active {
        display: flex;
    }

    .nav-login-cart button {
        width: 80px;
        height: 40px;
        font-size: 16px;
    }
}
@media (max-width: 560px){
    .nav-login-cart button{
        display: none;
    }
}